
/* Default CSS stylesheets administration UI */

body
{
    background-color: #d1dae4;
    color: #606686;
}

#top_panel{
    font-weight: bolder;
    font-style: italic;
    font-size: 20px;
    font-family: fantasy
}

/* A floating, bordered box */
.floating_box
{
    margin: 2px;
    padding: 5px;
    background-color: white;
    text-align: center;
    border: 1px solid #a2b4c6;
}

/* Link on left sidebar */
.navigation_link{
    font-size: 20px; 
    text-decoration: none;
    font-weight: bold; 
    color: #606686;
}

/* Colour of hyperlinks for which the cursor is hovering over */
a:hover{
    color: white;
    background-color: #d1dae4
}
