
/* Default CSS stylesheets administration UI */

body
{
    background-color: #2a2a2a;
    color: white;
}

#username_label{
    font-style: italic
}

#content_box{
    text-align: left;
    height: 400px;
}

/* A floating, bordered box */
.floating_box
{
    margin: 10px 150px;
    padding: 5px 10px;
    background-color: #383838;
    border: 1px solid #5d5d5d;
}

#banner{
    margin: 0px 150px;
    padding: 0px 10px;
}

.table_label{
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    height: 50px;
}

.table_div, .table_div_indented{
    text-align: center; 
    float: left;
}

.table_div_indented{
    margin-left: 50px;
}

/* Link on left sidebar */
.navigation_link, .navigation_link_footer{
    font-size: 14px; 
    text-decoration: none;
    font-weight: bold; 
    color: white;
}

#pagefooter, .navigation_link_footer{
    font-size: 12px; 
}

#linkspanel{

}

#linkspanel_left, #linkspanel_right{
    margin: 0px;
    padding: 0px;
}

#linkspanel_left{
    text-align: left;
    
    float: left;
}

#linkspanel_right{
    text-align: right;
}

a
{
    color: white;
} 

/* Colour of hyperlinks for which the cursor is hovering over */
a:hover{
    color: orange;
}
