


form.jsfcrud_list_form th, td th {
    border-color: white;
    font-size: x-small;
    letter-spacing: 3px;
    text-align: left;
}

td {
    vertical-align: top;
    padding-bottom: 8px;
    font-size: small;
}

form.jsfcrud_list_form td, td td {
    border-color: white;
    vertical-align: baseline;

}

tr.jsfcrud_odd_row {
    background-color: #5d5d5d;
}

tr.jsfcrud_even_row {
    background-color: #999696;
}

#busyImage {
    position: absolute;
    left: 50%;
    top: 50%;
}
